td, th {
    border: 1px solid;
}

th {
    background-color: darkgrey;
}

code {
    background-color: darkgrey;
}

.exemplos {
    margin: 0.5rem;
}

.onclick {
    width: 500px;
    height: 100px;
}