table {
    margin-top: 2rem;
}

td, th {
    border: 1px solid;
}

th {
    background-color: #a9a9a9;
}

code {
    background-color: darkgrey;
}

.exemplos {
    margin: 0.5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.onload, 
.onresize,
.onscroll {
    width: 30vw;
    height: 200px;

    margin: 0.5rem;
    border: 2px dotted;
}

.ondclick img {
    width: 20%;
}

#evonmouseover {
    display: inline;
    font-size: 5rem;
}